<h1>Validação de Idade</h1>
<p>Digite sua <strong>idade</strong> para verificar maior idade.</p>
<form action="/check" method="POST">
  <input name="age" placeholder="Digite sua idade">
  <button type="submit">Checar</button>
</form>